<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">
    <title>Daily Esports Event Post</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/hover-min.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>
    <!-- Custom styles for this template -->
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="news_page event_post">
<div class="custom_nav navbar_bg">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"  href="/frontend"><img src="images/Long-Logo.png" alt="#"> </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="hvr-underline-from-left"><a href="#">Latest</a></li>
                    <li class="hvr-underline-from-left"><a href="news-page.html">News</a></li>
                    <li class="hvr-underline-from-left"><a href="videos-page.html">Videos</a></li>
                    <li class="hvr-underline-from-left"><a href="tournaments.html">Tournaments</a></li>
                    <li class="hvr-underline-from-left"><a href="events-page.html">Events</a></li>
                </ul>
            </div>
        </div><!--/.container-fluid -->
    </nav>
</div>
<div class="basic_bg_image">
<div class="container bg-inherit">
<div class="home_content">
<div class="content_bg_img"></div>
<div class="h_content">
<div class="basic_content">
<div class="post_page_header height_40">
    <div class="col-sm-9">
        <h4 class="main_head"><img src="images/HotS.png" alt="#"> Event TITLE</h4>
    </div>
    <div class="col-sm-3 pad-zero">
        <div class="sb_search">
            <i class="fa fa-search"></i>
            <input type="text" class="form-control" placeholder="Search...">
        </div>
    </div>
</div>
<div class="col-sm-8 pad-zero br-right">
    <div class="news_post_area">
        <div class="news_post_area_img bg-image" data-image="images/Event-Image.jpg">
            <div class="counter_left event_post_counter">
                <div class="countdown">
                    <div class="timing-titles"><span>Days</span><span>Hours</span><span>MINUTES</span><span>Seconds</span></div>
                    <div class="times"><span>07</span><span>15</span><span>29</span><span>44</span></div>
                </div>
            </div>
            <div class="counter_right event_post_counter">
                <div class="countdown count_curreny">
                    <div class="timing-titles"><span>CURRENCY </span><span>PRICE</span><span>LEFT</span><span>TICKET</span></div>
                    <div class="times"><span>USD</span><span>$10ea</span><span>30</span><span>BUY</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="news_widget height_450">
        <div class="col-sm-12">
            <h3>DD/MM/YY - Venue Name - City, COUNTRY</h3><br>
            <h4>Event description event description event description event description event description event description event description event description event description event description event description event description event description event description event description event description event description event description event description event description event description event description event description event description event description event description.</h4>
        </div>
    </div>
    <div class="news_widget br-top height_300 float_left">
        <div class="col-sm-12">
            <h3>EVENT GALLERY</h3><br>
        </div>
    </div>
    <div class="news_share_icons">
        <div class="col-sm-12">
            <h4 class="f_bol">Share This:</h4>
            <div class="socials_btns">
                <a href="#" class="hvr-shrink"><img src="images/fb_icn.png" alt="#"> </a>
                <a href="#" class="hvr-shrink"><img src="images/tw_icn.png" alt="#"> </a>
                <a href="#" class="hvr-shrink"><img src="images/gplus_icn.png" alt="#"> </a>
                <a href="#" class="hvr-shrink"><img src="images/youtube_icn.png" alt="#"> </a>
                <a href="#" class="hvr-shrink"><img src="images/signal_icn.png" alt="#"> </a>
                <a href="#" class="hvr-shrink"><img src="images/link_icn.png" alt="#"> </a>
                <a href="#" class="hvr-shrink"><img src="images/vimeo_icn.png" alt="#"> </a>
                <a href="#" class="hvr-shrink"><img src="images/cat_icn.png" alt="#"> </a>
                <a href="#" class="hvr-shrink"><img src="images/pin_icn.png" alt="#"> </a>
                <a href="#" class="hvr-shrink"><img src="images/clound_icn.png" alt="#"> </a>
                <a href="#" class="hvr-shrink"><img src="images/anda_icn.png" alt="#"> </a>
                <a href="#" class="hvr-shrink"><img src="images/email_icn.png" alt="#"> </a>
            </div>
        </div>
    </div>
    <div class="disqus_comment float_left height_300 text-center">
        <h2>Disqus Comments here</h2>
    </div>
</div>
<div class="col-sm-4 pad-zero">
    <div class="side_bar float_left">
        <div class="matches_sidebar float_left">
            <h4 class="col-sm-12 f_bol main_head">NEXT MATCHES</h4>
            <div class="matches_box">
                <div class="matches_con">
                    <div class="col-sm-1 matches_box_img pad-zero">
                        <img src="images/Overwatch.png" alt="#">
                    </div>
                    <div class="col-sm-11 matches_box_con pad-zero">
                        <div class="upper_matches">
                            <h5>The International 2016 <span>Americas Qualifier Semifinals</span></h5>
                        </div>
                        <div class="lower_matches">
                            <h5 class="lower_m1"><img src="images/BR-Flag-copy.png" alt=""> Team A</h5>
                            <h5 class="lower_m2">VS <img src="images/BR-Flag-copy.png" alt=""> Team A</h5>
                            <h5 class="lower_m3">0d 6h 33m</h5>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Watch >
                                </button>
                                <ul class="dropdown-menu">
                                    <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE > 175951 viewers</li>
                                    <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE > 175951 viewers</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="matches_con">
                    <div class="col-sm-1 matches_box_img pad-zero">
                        <img src="images/CSGO.png" alt="#">
                    </div>
                    <div class="col-sm-11 matches_box_con pad-zero">
                        <div class="upper_matches">
                            <h5>The International 2016 <span>Americas Qualifier Semifinals</span></h5>
                        </div>
                        <div class="lower_matches">
                            <h5 class="lower_m1"><img src="images/BR-Flag-copy.png" alt=""> Team A</h5>
                            <h5 class="lower_m2">VS <img src="images/BR-Flag-copy.png" alt=""> Team A</h5>
                            <h5 class="lower_m3">0d 6h 33m</h5>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Watch >
                                </button>
                                <ul class="dropdown-menu">
                                    <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE > 175951 viewers</li>
                                    <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE > 175951 viewers</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="matches_con">
                    <div class="col-sm-1 matches_box_img pad-zero">
                        <img src="images/newDota2.png" alt="#">
                    </div>
                    <div class="col-sm-11 matches_box_con pad-zero">
                        <div class="upper_matches">
                            <h5>The International 2016 <span>Americas Qualifier Semifinals</span></h5>
                        </div>
                        <div class="lower_matches">
                            <h5 class="lower_m1"><img src="images/BR-Flag-copy.png" alt=""> Team A</h5>
                            <h5 class="lower_m2">VS <img src="images/BR-Flag-copy.png" alt=""> Team A</h5>
                            <h5 class="lower_m3">0d 6h 33m</h5>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Watch >
                                </button>
                                <ul class="dropdown-menu">
                                    <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE > 175951 viewers</li>
                                    <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE > 175951 viewers</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="matches_con">
                    <div class="col-sm-1 matches_box_img pad-zero">
                        <img src="images/CoD.png" alt="#">
                    </div>
                    <div class="col-sm-11 matches_box_con pad-zero">
                        <div class="upper_matches">
                            <h5>The International 2016 <span>Americas Qualifier Semifinals</span></h5>
                        </div>
                        <div class="lower_matches">
                            <h5 class="lower_m1"><img src="images/BR-Flag-copy.png" alt=""> Team A</h5>
                            <h5 class="lower_m2">VS <img src="images/BR-Flag-copy.png" alt=""> Team A</h5>
                            <h5 class="lower_m3">0d 6h 33m</h5>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Watch >
                                </button>
                                <ul class="dropdown-menu">
                                    <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE > 175951 viewers</li>
                                    <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE > 175951 viewers</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="matches_con">
                    <div class="col-sm-1 matches_box_img pad-zero">
                        <img src="images/Smite.png" alt="#">
                    </div>
                    <div class="col-sm-11 matches_box_con pad-zero">
                        <div class="upper_matches">
                            <h5>The International 2016 <span>Americas Qualifier Semifinals</span></h5>
                        </div>
                        <div class="lower_matches">
                            <h5 class="lower_m1"><img src="images/BR-Flag-copy.png" alt=""> Team A</h5>
                            <h5 class="lower_m2">VS <img src="images/BR-Flag-copy.png" alt=""> Team A</h5>
                            <h5 class="lower_m3">0d 6h 33m</h5>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Watch >
                                </button>
                                <ul class="dropdown-menu">
                                    <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE > 175951 viewers</li>
                                    <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE > 175951 viewers</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pet_day float_left">
            <h4 class="f_bol col-sm-12 main_head">PET OF THE DAY</h4>
            <div class="pet_of_day float_left">
                <div class="bg-image pet_image" data-image="images/cat_image.jpg">
                    <div class="pet_day_heading"><h4>Lorem Ipsum is simply dummy</h4></div>
                    <div class="pet_day_overlay">
                        <p>Name: Gerev – it means “a sock” in Hebrew, and she have white “socks”</p>
                        <p>Gender: Female</p><p>Age: 6</p><p>Breed: Mixed</p>
                        <p>Fun Fact: She is a very motherly, lively and social little girl, who loves Tuna and likes to play with water. </p>
                        <p>Owner: Freya_Chan – Cosplayer and Partnered Dota 2 Streamer </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="height_200 float_left">
            <h4 class="f_bol col-sm-12 main_head">#DAILYESPORTS</h4>
            <div class="twitter_widget col-sm-12">
                <a data-height="500" class="twitter-timeline" href="https://twitter.com/TwitterDev/timelines/539487832448843776">National Park Tweets - Curated tweets by TwitterDev</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
<div class="footer_area">
    <div class="container">
        <div class="col-sm-1 pad-zero">
            <img src="images/footer_logo.png" alt="#">
        </div>
        <div class="col-sm-3">
            <h4>Daily eSports,<br>All Rights Reserved.</h4>
        </div>
        <div class="col-sm-2 text-center">
            <h4>For business inquiries,<br> please contact us.</h4>
        </div>
        <div class="col-sm-6 pad-zero">
            <div class="footer_socials">
                <a href="#" class="hvr-float"><img src="images/facebook_ico.png" alt=""></a>
                <a href="#" class="hvr-float"><img src="images/twitter_ico.png" alt=""></a>
                <a href="#" class="hvr-float"><img src="images/youtube_ico.png" alt=""></a>
                <a href="#" class="hvr-float"><img src="images/Instagram_ico.png" alt=""></a>
                <a href="#" class="hvr-float"><img src="images/Twitch_ico.png" alt=""></a>
                <a href="#" class="hvr-float"><img src="images/steam_ico.png" alt=""></a>
                <a href="#" class="hvr-float"><img src="images/Reddit_ico.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>
<script src="js/custom.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>