<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">
    <title>Daily Esports Tournament Post</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/hover-min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>
    <!-- Custom styles for this template -->
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="tour_post_page">
<div class="custom_nav navbar_bg">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="images/Long-Logo.png" alt="#"> </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="hvr-underline-from-left"><a href="#">Latest</a></li>
                    <li class="hvr-underline-from-left"><a href="news-page.html">News</a></li>
                    <li class="hvr-underline-from-left"><a href="videos-page.html">Videos</a></li>
                    <li class="hvr-underline-from-left"><a href="tournaments.html">Tournaments</a></li>
                    <li class="hvr-underline-from-left"><a href="events-page.html">Events</a></li>
                </ul>
            </div>
        </div><!--/.container-fluid -->
    </nav>
</div>
<div class="basic_bg_image">
<div class="container bg-inherit">
<div class="tournament_upper">
    <div class="col-sm-6">
        <div class="tournament_iframe">
            <iframe width="560" height="345" src="https://www.youtube.com/embed/4oLSQFKiOC0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="featured_stream">
            <div class="featured_stream_up">
                <h4>Featured Stream</h4>
            </div>
            <div class="featured_stream_middle">
                <div class="col-sm-2">
                    <div class="strea_avatar">
                        <img src="images/Stream-Avatar.jpg" alt="#">
                    </div>
                </div>
                <div class="col-sm-10 pad-zero">
                    <h5>BeyondTheSummit</h5>
                    <h5><i class="fa fa-eye"></i>11,881</h5>
                </div>
                <p class="col-sm-12">LIVE: Following Veggies in NA open quals w/ @TobiWanDota</p>
            </div>
            <div class="featured_stream_bottom">
                <button class="btn">open stream</button>
                <button class="btn">theater mode</button>
            </div>
        </div>
    </div>
</div>
<div class="home_content">
 <div class="content_bg_img"></div>
<div class="h_content">
<div class="basic_content">
<div class="post_page_header tour_small_header light_black_bg height_40">
    <div class="col-sm-9 h_100_per pad-zero tour_search_header">
        <ul class="filters nav nav-tabs tour_post_tabs" role="tablist">
            <li role="presentation" class="active current"><a href="#OVERVIEW" aria-controls="OVERVIEW" role="tab" data-toggle="tab">OVERVIEW</a></li>
            <li role="presentation"><a href="#EVENT" aria-controls="EVENT" role="tab" data-toggle="tab">MAIN EVENT</a></li>
            <li role="presentation"><a href="#QUALIFIERS" aria-controls="QUALIFIERS" role="tab" data-toggle="tab">QUALIFIERS</a></li>
        </ul>
    </div>
    <div class="col-sm-3 pad-zero">
        <div class="sb_search">
            <i class="fa fa-search"></i>
            <input type="text" class="form-control" placeholder="Search...">
        </div>
    </div>
</div>
<div class="tournament_details">
    <div class="col-sm-8 pad-zero br-right">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="OVERVIEW">
                <div class="tabs_content">
                    <h4 class="f_bol ">GENERAL INFO</h4>
                    <h5>Holding worlds largest Esport prize pool for 5 years in a row, breaking the record every year, The International is back!</h5>
                    <h5>Aiming to beat last year's total of $18,429,613, Valve is presenting Dota 2 players with the International 2016 Battle Pass. </h5>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="EVENT">
                <div class="tabs_content">
                    <h4 class="f_bol">MAIN EVENT INFO</h4>
                    <h5>Holding worlds largest Esport prize pool for 5 years in a row, breaking the record every year, The International is back!</h5>
                    <h5>Aiming to beat last year's total of $18,429,613, Valve is presenting Dota 2 players with the International 2016 Battle Pass. </h5>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="QUALIFIERS">
                <div class="tabs_content">
                    <h4 class="f_bol">QUALIFIERS INFO</h4>
                    <h5>Holding worlds largest Esport prize pool for 5 years in a row, breaking the record every year, The International is back!</h5>
                    <h5>Aiming to beat last year's total of $18,429,613, Valve is presenting Dota 2 players with the International 2016 Battle Pass. </h5>
                </div>
            </div>
        </div>
        <div class="tour_format">
            <div class="col-sm-12">
                <h4 class="f_bol main_head">FORMAT</h4>
                <div class="tour_format_text">
                    <div class="text_1">
                        <h5>- Open Qualifiers - June 21st - June 24th, 2016</h5>
                    </div>
                    <div class="text_2">
                        <h5>Eight Regional Single-elimination Open Qualifiers, two brackets for each region.</h5>
                        <h5>The winners of each Regional Qualifier will advance to the respective Main Qualifier.</h5>
                    </div>
                </div>
                <div class="tour_format_text">
                    <div class="text_1">
                        <h5>- Main Qualifiers - June 25th - June 28th, 2016</h5>
                    </div>
                    <div class="text_2">
                        <h5>Four Regional Qualifiers.</h5>
                        <h5>One group, with the winner advancing directly to The International.</h5>
                        <h5>Second through fifth place teams advance to the Regional Double-elimination Playoff Bracket.</h5>
                        <h5>The winner of each Regional Playoff Bracket will join the six directly invited teams in Seattle.</h5>
                        <h5>Third-place teams will advance to the Wild Card round in Seattle.</h5>
                    </div>
                </div>
                <div class="tour_format_text">
                    <div class="text_1">
                        <h5>- Main Event - August 8th - August 13th, 2016</h5>
                    </div>
                    <div class="text_2">
                        <h5>Sixteen teams play in a double elimination format over six days.</h5>
                        <h5>Eight teams begin in the upper bracket, eight in the lower bracket.</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="tour_latest">
            <div class="tournament_box">
                <div class="col-sm-4 tournament_box_img pad-zero">
                    <img src="images/News-Image.jpg" alt="#">
                </div>
                <div class="col-sm-8 tournament_box_text">
                    <h4 class="t_heading">Holding world’s largest eSport prize pool for 5 years in a row, breaking the record every year,<br> The International is back! Aiming to beat last year’s prize pool of $18,429,613, Valve <br>is presenting Dota 2...	 </h4>
                    <h4 class="t_sub_heading grey">Posted by <span class="red">DailyEsports </span>, 26/06/2016 <a href="#" class="pull-right grey">read more</a></h4>
                </div>
            </div>
            <div class="tournament_box">
                <div class="col-sm-4 tournament_box_img pad-zero">
                    <img src="images/News-Image.jpg" alt="#">
                </div>
                <div class="col-sm-8 tournament_box_text">
                    <h4 class="t_heading">Holding world’s largest eSport prize pool for 5 years in a row, breaking the record every year,<br> The International is back! Aiming to beat last year’s prize pool of $18,429,613, Valve <br>is presenting Dota 2...	 </h4>
                    <h4 class="t_sub_heading grey">Posted by <span class="red">DailyEsports </span>, 26/06/2016 <a href="#" class="pull-right grey">read more</a></h4>
                </div>
            </div>
            <div class="tournament_box">
                <div class="col-sm-4 tournament_box_img pad-zero">
                    <img src="images/News-Image.jpg" alt="#">
                </div>
                <div class="col-sm-8 tournament_box_text">
                    <h4 class="t_heading">Holding world’s largest eSport prize pool for 5 years in a row, breaking the record every year,<br> The International is back! Aiming to beat last year’s prize pool of $18,429,613, Valve <br>is presenting Dota 2...	 </h4>
                    <h4 class="t_sub_heading grey">Posted by <span class="red">DailyEsports </span>, 26/06/2016 <a href="#" class="pull-right grey">read more</a></h4>
                </div>
            </div>
        </div>
        <div class="tour_matches">
            <h4 class="tour_matches_Sub main_head">MATCHES</h4>
            <div class="tournament_stream">
                <div class="tour_stream_box">
                    <h3>The International 2016 <span class="grey">Qualifier - Semifinals</span></h3>
                    <div class="lower_matches float_left">
                        <h4 class="lower_m1 f_bol"><img src="images/BR-Flag-copy.png" alt=""> Team A</h4>
                        <h4 class="lower_m2 f_bol">VS.<img src="images/BR-Flag-copy.png" alt=""> Team B</h4>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">190511 viewers <i class="fa fa-angle-down"></i></button>
                            <ul class="dropdown-menu">
                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                            </ul>
                            <h4 class="tour_time">01:30</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tournament_stream">
                <div class="tour_stream_box">
                    <h3>The International 2016 <span class="grey">Qualifier - Semifinals</span></h3>
                    <div class="lower_matches float_left">
                        <h4 class="lower_m1 f_bol"><img src="images/BR-Flag-copy.png" alt=""> Team A</h4>
                        <h4 class="lower_m2 f_bol">VS.<img src="images/BR-Flag-copy.png" alt=""> Team B</h4>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">190511 viewers <i class="fa fa-angle-down"></i></button>
                            <ul class="dropdown-menu">
                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                            </ul>
                            <h4 class="tour_time">01:30</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tournament_stream">
                <div class="tour_stream_box">
                    <h3>The International 2016 <span class="grey">Qualifier - Semifinals</span></h3>
                    <div class="lower_matches float_left">
                        <h4 class="lower_m1 f_bol"><img src="images/BR-Flag-copy.png" alt=""> Team A</h4>
                        <h4 class="lower_m2 f_bol">VS.<img src="images/BR-Flag-copy.png" alt=""> Team B</h4>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">190511 viewers <i class="fa fa-angle-down"></i></button>
                            <ul class="dropdown-menu">
                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                            </ul>
                            <h4 class="tour_time">01:30</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tournament_stream">
                <div class="tour_stream_box">
                    <h3>The International 2016 <span class="grey">Qualifier - Semifinals</span></h3>
                    <div class="lower_matches float_left">
                        <h4 class="lower_m1 f_bol"><img src="images/BR-Flag-copy.png" alt=""> Team A</h4>
                        <h4 class="lower_m2 f_bol">VS.<img src="images/BR-Flag-copy.png" alt=""> Team B</h4>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">190511 viewers <i class="fa fa-angle-down"></i></button>
                            <ul class="dropdown-menu">
                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                            </ul>
                            <h4 class="tour_time">01:30</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 float_left height_450">
            <h3 class="main_head">GALLERY</h3>
        </div>
    </div>
    <div class="col-sm-4 pad-zero">
        <div class="tour_prize_pool">
            <h3 class="col-sm-12">PRIZE POOL <span class="green pull-right">$13,000,000+</span></h3>
            <div class="tour_prize_table_upper text-center">
                <div class="col-sm-2 tables_col"><h4 class="f_bol">PLACE</h4></div>
                <div class="col-sm-3 tables_col"><h4 class="f_bol">$USD</h4></div>
                <div class="col-sm-3 tables_col"><h4 class="f_bol">PERCENT</h4></div>
                <div class="col-sm-4 tables_col text-left team_last"><h4 class="f_bol">TEAM</h4></div>
            </div>
            <div class="tour_prize_table_lower text-center hvr-underline-from-left">
                <div class="col-sm-2 tables_col">
                    <h4 class="f_bol">1ST</h4>
                    <img src="images/Ellipse-1.png" alt="#">
                </div>
                <div class="col-sm-3 tables_col"><h4 class="mr-25">$6,634,661</h4></div>
                <div class="col-sm-3 tables_col"><h4 class="mr-25">36%</h4></div>
                <div class="col-sm-4 tables_col last_table_prize pad-zero"><h4>TBA<img src="images/DES-Small-Logo-Black.png" alt="#"> </h4></div>
            </div>
            <div class="tour_prize_table_lower text-center hvr-underline-from-left">
                <div class="col-sm-2 tables_col">
                    <h4 class="f_bol">2ND</h4>
                    <img src="images/Ellipse-1-copy.png" alt="#">
                </div>
                <div class="col-sm-3 tables_col"><h4 class="mr-25">$6,634,661</h4></div>
                <div class="col-sm-3 tables_col"><h4 class="mr-25">15.5%</h4></div>
                <div class="col-sm-4 tables_col last_table_prize pad-zero"><h4>TBA<img src="images/DES-Small-Logo-Black.png" alt="#"> </h4></div>
            </div>
            <div class="tour_prize_table_lower text-center hvr-underline-from-left">
                <div class="col-sm-2 tables_col">
                    <h4 class="f_bol">3RD</h4>
                    <img src="images/Ellipse-1-copy-2.png" alt="#">
                </div>
                <div class="col-sm-3 tables_col"><h4 class="mr-25">$6,634,661</h4></div>
                <div class="col-sm-3 tables_col"><h4 class="mr-25">8.5%</h4></div>
                <div class="col-sm-4 tables_col last_table_prize pad-zero"><h4>TBA<img src="images/DES-Small-Logo-Black.png" alt="#"> </h4></div>
            </div>
        </div>
        <div class="tour_teams float_left br-top">
            <div class="col-sm-12">
                <h3>THE TEAMS</h3>
                <h4 class="f_bol tour_team_sub">INVITED -</h4>
                <div class="tour_team_logo">
                    <div class="col-sm-3 col-xs-6 tour_team_logo_box text-center">
                        <img src="images/Team-Secret-Logos.png" alt="#">
                        <h4>TEAM SECRET</h4>
                    </div>
                    <div class="col-sm-3 col-xs-6 tour_team_logo_box text-center">
                        <img src="images/Team-Secret-Logos.png" alt="#">
                        <h4>TEAM SECRET</h4>
                    </div>
                    <div class="col-sm-3 col-xs-6 tour_team_logo_box text-center">
                        <img src="images/Team-Secret-Logos.png" alt="#">
                        <h4>TEAM SECRET</h4>
                    </div>
                    <div class="col-sm-3 col-xs-6 tour_team_logo_box text-center">
                        <img src="images/Team-Secret-Logos.png" alt="#">
                        <h4>TEAM SECRET</h4>
                    </div>
                    <div class="col-sm-3 col-xs-6 tour_team_logo_box text-center">
                        <img src="images/Team-Secret-Logos.png" alt="#">
                        <h4>TEAM SECRET</h4>
                    </div>
                    <div class="col-sm-3 col-xs-6 tour_team_logo_box text-center">
                        <img src="images/Team-Secret-Logos.png" alt="#">
                        <h4>TEAM SECRET</h4>
                    </div>
                </div>
                <h4 class="f_bol tour_team_sub">QUALIFIED -</h4>
                <div class="tour_team_logo">
                    <div class="col-sm-3 col-xs-6 tour_team_logo_box text-center">
                        <img src="images/DES-Small-Logo-Black.png" alt="#">
                        <h4>TEAM SECRET</h4>
                    </div>
                    <div class="col-sm-3 col-xs-6 tour_team_logo_box text-center">
                        <img src="images/DES-Small-Logo-Black.png" alt="#">
                        <h4>TBA</h4>
                    </div>
                    <div class="col-sm-3 col-xs-6 tour_team_logo_box text-center">
                        <img src="images/DES-Small-Logo-Black.png" alt="#">
                        <h4>TBA</h4>
                    </div>
                    <div class="col-sm-3 col-xs-6 tour_team_logo_box text-center">
                        <img src="images/DES-Small-Logo-Black.png" alt="#">
                        <h4>TBA</h4>
                    </div>
                    <div class="col-sm-3 col-xs-6 tour_team_logo_box text-center">
                        <img src="images/DES-Small-Logo-Black.png" alt="#">
                        <h4>TBA</h4>
                    </div>
                    <div class="col-sm-3 col-xs-6 tour_team_logo_box text-center">
                        <img src="images/DES-Small-Logo-Black.png" alt="#">
                        <h4>TBA</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="matches_sidebar float_left br-top">
            <h4 class="col-sm-12 f_bol main_head">NEXT MATCHES</h4>
            <div class="matches_box">
                <div class="matches_con">
                    <div class="col-sm-1 matches_box_img pad-zero">
                        <img src="images/League.png" alt="#">
                    </div>
                    <div class="col-sm-11 matches_box_con pad-zero">
                        <div class="upper_matches">
                            <h5>The International 2016 <span>Americas Qualifier Semifinals</span></h5>
                        </div>
                        <div class="lower_matches">
                            <h5 class="lower_m1"><img src="images/BR-Flag-copy.png" alt=""> Team A</h5>
                            <h5 class="lower_m2">VS <img src="images/BR-Flag-copy.png" alt=""> Team A</h5>
                            <h5 class="lower_m3">0d 6h 33m</h5>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Watch >
                                </button>
                                <ul class="dropdown-menu">
                                    <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE > 175951 viewers</li>
                                    <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE > 175951 viewers</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="matches_con">
                    <div class="col-sm-1 matches_box_img pad-zero">
                        <img src="images/new_Hearthstone.png" alt="#">
                    </div>
                    <div class="col-sm-11 matches_box_con pad-zero">
                        <div class="upper_matches">
                            <h5>The International 2016 <span>Americas Qualifier Semifinals</span></h5>
                        </div>
                        <div class="lower_matches">
                            <h5 class="lower_m1"><img src="images/BR-Flag-copy.png" alt=""> Team A</h5>
                            <h5 class="lower_m2">VS <img src="images/BR-Flag-copy.png" alt=""> Team A</h5>
                            <h5 class="lower_m3">0d 6h 33m</h5>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Watch >
                                </button>
                                <ul class="dropdown-menu">
                                    <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE > 175951 viewers</li>
                                    <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE > 175951 viewers</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="matches_con">
                    <div class="col-sm-1 matches_box_img pad-zero">
                        <img src="images/Starcraft2.png" alt="#">
                    </div>
                    <div class="col-sm-11 matches_box_con pad-zero">
                        <div class="upper_matches">
                            <h5>The International 2016 <span>Americas Qualifier Semifinals</span></h5>
                        </div>
                        <div class="lower_matches">
                            <h5 class="lower_m1"><img src="images/BR-Flag-copy.png" alt=""> Team A</h5>
                            <h5 class="lower_m2">VS <img src="images/BR-Flag-copy.png" alt=""> Team A</h5>
                            <h5 class="lower_m3">0d 6h 33m</h5>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Watch >
                                </button>
                                <ul class="dropdown-menu">
                                    <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE > 175951 viewers</li>
                                    <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE > 175951 viewers</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="matches_con">
                    <div class="col-sm-1 matches_box_img pad-zero">
                        <img src="images/Smite.png" alt="#">
                    </div>
                    <div class="col-sm-11 matches_box_con pad-zero">
                        <div class="upper_matches">
                            <h5>The International 2016 <span>Americas Qualifier Semifinals</span></h5>
                        </div>
                        <div class="lower_matches">
                            <h5 class="lower_m1"><img src="images/BR-Flag-copy.png" alt=""> Team A</h5>
                            <h5 class="lower_m2">VS <img src="images/BR-Flag-copy.png" alt=""> Team A</h5>
                            <h5 class="lower_m3">0d 6h 33m</h5>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Watch >
                                </button>
                                <ul class="dropdown-menu">
                                    <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE > 175951 viewers</li>
                                    <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE > 175951 viewers</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="matches_con">
                    <div class="col-sm-1 matches_box_img pad-zero">
                        <img src="images/Overwatch.png" alt="#">
                    </div>
                    <div class="col-sm-11 matches_box_con pad-zero">
                        <div class="upper_matches">
                            <h5>The International 2016 <span>Americas Qualifier Semifinals</span></h5>
                        </div>
                        <div class="lower_matches">
                            <h5 class="lower_m1"><img src="images/BR-Flag-copy.png" alt=""> Team A</h5>
                            <h5 class="lower_m2">VS <img src="images/BR-Flag-copy.png" alt=""> Team A</h5>
                            <h5 class="lower_m3">0d 6h 33m</h5>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Watch >
                                </button>
                                <ul class="dropdown-menu">
                                    <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE > 175951 viewers</li>
                                    <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE > 175951 viewers</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
<div class="footer_area">
    <div class="container">
        <div class="col-sm-1 pad-zero">
            <img src="images/footer_logo.png" alt="#">
        </div>
        <div class="col-sm-3">
            <h4>Daily eSports,<br>All Rights Reserved.</h4>
        </div>
        <div class="col-sm-2 text-center">
            <h4>For business inquiries,<br> please contact us.</h4>
        </div>
        <div class="col-sm-6 pad-zero">
            <div class="footer_socials">
                <a href="#" class="hvr-float"><img src="images/facebook_ico.png" alt=""></a>
                <a href="#" class="hvr-float"><img src="images/twitter_ico.png" alt=""></a>
                <a href="#" class="hvr-float"><img src="images/youtube_ico.png" alt=""></a>
                <a href="#" class="hvr-float"><img src="images/Instagram_ico.png" alt=""></a>
                <a href="#" class="hvr-float"><img src="images/Twitch_ico.png" alt=""></a>
                <a href="#" class="hvr-float"><img src="images/steam_ico.png" alt=""></a>
                <a href="#" class="hvr-float"><img src="images/Reddit_ico.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/custom.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var owl = $("#owl-demo");
        owl.owlCarousel({
            autoPlay: 4000, //Set AutoPlay to 3 seconds
            items : 4,
            itemsDesktop : [1199,3],
            itemsDesktopSmall : [979,3],
            pagination : false,
            //Basic Speeds
            slideSpeed : 2000
        });
        $(".re-next").click(function(){
            owl.trigger('owl.next');
        });
        $(".re-prev").click(function(){
            owl.trigger('owl.prev');
        });
    });
    jQuery(window).load(function() {
        // init Isotope
        var $container = jQuery('.isotope').isotope({
            itemSelector: '.element-item',
            layoutMode: 'masonry',
            resizable: false, // disable normal resizing
            getSortData: {
                name: '.name'
            },
            transformsEnabled: false
        });
        // bind filter button click
        jQuery('.filters li').on( 'click', function() {
            var filterValue = jQuery( this ).attr('data-filter');
            $container.isotope({ filter: filterValue });
        });
        jQuery('.filters li:first').addClass('current');
        jQuery('.filters li').on('click', function (e) {
            e.preventDefault();
            jQuery(this).addClass('current').siblings().removeClass('current');
        });
        // bind filter button click
        jQuery('.filters_one li').on( 'click', function() {
            var filterValue = jQuery( this ).attr('data-filter');
            $container.isotope({ filter: filterValue });
        });
        jQuery('.filters_one li:first').addClass('current');
        jQuery('.filters_one li').on('click', function (e) {
            e.preventDefault();
            jQuery(this).addClass('current').siblings().removeClass('current');
        });
    });
</script>
</body>
</html>