<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">
    <title>Daily Esports Tournaments</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/hover-min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>
    <!-- Custom styles for this template -->
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="tour_page">
<div class="custom_nav navbar_bg">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="images/Long-Logo.png" alt="#"> </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="hvr-underline-from-left"><a href="#">Latest</a></li>
                    <li class="hvr-underline-from-left"><a href="news-page.html">News</a></li>
                    <li class="hvr-underline-from-left"><a href="videos-page.html">Videos</a></li>
                    <li class="hvr-underline-from-left"><a href="tournaments.html">Tournaments</a></li>
                    <li class="hvr-underline-from-left"><a href="events-page.html">Events</a></li>
                </ul>
            </div>
        </div><!--/.container-fluid -->
    </nav>
</div>
<div class="basic_bg_image">
<div class="main-tour-img bg-image" data-image="images/website-tournament-banner.png">
    <div class="main-tour-sec">
        <div class="container">
            <div class="col-sm-6 pad-left-zero">
                <div class="tournament_iframe">
                    <iframe width="560" height="345" src="https://www.youtube.com/embed/4oLSQFKiOC0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-6 pad-right-zero">
                <div class="upper_tournament_add bg-image" data-image="images/Layer-10.jpg">
                    <div class="upper_tournament_add_layer">
                        <h3>The International 2016 <span class="grey">20 JUN - 13 AUG</span> <span class="pull-right green">$12,500,000 +</span></h3>
                        <p>Holding worlds largest Esport prize pool for 5 years in a row, breaking the record every year, The International is back! </p>
                        <p>Aiming to beat last year's total of $18,429,613, Valve is presenting Dota 2 players with the International 2016 Battle Pass.</p>
                        <a href="#" class="pull-right grey">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container bg-inherit">
    <div class="home_content">
     <div class="content_bg_img"></div>
        <div class="h_content">
            <div class="basic_content">
                <div class="post_page_header tour_small_header height_40 bg_light_black">
                    <div class="col-sm-4 h_100_per pad-zero tour_search_header">
                        <ul class="filters">
                            <li data-filter=".tour"><a href="javascript:void(0)"><i class="fa fa-align-justify"></i>TOURNAMENTS</a></li>
                            <li data-filter=".stream"><a href=""><i class="fa fa-align-justify"></i>STREAMS</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-5">
                        <div class="filter2">
                            <h4>Filter:</h4>
                            <ul class="filters_one">
                                <li data-filter="*"><a href=""><img src="images/new_Hearthstone.png" alt="#"></a></li>
                                <li data-filter=".csgo"><a href=""><img src="images/CoD.png" alt="#"></a></li>
                                <li data-filter=".mw2"><a href=""><img src="images/CSGO.png" alt="#"></a></li>
                                <li data-filter=".bf3"><a href=""><img src="images/HotS.png" alt="#"></a></li>
                                <li data-filter=".css"><a href=""><img src="images/League.png" alt="#"></a></li>
                                <li data-filter=".le"><a href=""><img src="images/newDota2.png" alt="#"></a></li>
                                <li data-filter=".sa"><a href=""><img src="images/Overwatch.png" alt="#"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 pad-zero">
                        <div class="sb_search">
                            <i class="fa fa-search"></i>
                            <input type="text" class="form-control" placeholder="Search...">
                        </div>
                    </div>
                </div>
                <div class="tournament_details">
                    <div class="isotope">
                    <div class="tour_filter_layout element-item dota bf3 tour">
                        <div class="tour_filter_box br-bottom">
                            <div class="col-sm-3 pad-zero">
                                <div class="tour_filter_box_image">
                                    <img src="images/Tournament-Image.jpg" alt="#">
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="tour_filter_box_content float_left">
                                    <div class="tour_filter_upper float_left">
                                        <h3 class="pull-left"><img src="images/new_Hearthstone.png" alt="#">The International 2016 <span>20 JUN - 13 AUG</span></h3>
                                        <h3 class="green pull-right">$12,500,00+</h3>
                                    </div>
                                    <div class="tour_filter_lower float_left">
                                        <div class="col-sm-9 pad-zero">
                                            <p>Holding world’s largest eSport prize pool for 5 years in a row, breaking the record every year, The International is back! Aiming to beat last year’s prize pool of $18,429,613, Valve is presenting Dota 2...<a href="#">read more</a></p>
                                        </div>
                                        <div class="col-sm-3 pad-zero">
                                            <div class="tour_live_games text-right pull-right">
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-default dropdown-toggle live_game_btn">
                                                        <i class="fa fa-circle red"></i> LIVE GAMES <i class="fa fa-angle-down"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tour_stream_content">
                            <div class="tournament_stream">
                                <div class="tour_stream_box">
                                    <h4>The International 2016 <span class="grey">Qualifier - Semifinals</span></h4>
                                    <div class="lower_matches float_left">
                                        <h4 class="lower_m1"><img src="images/BR-Flag-copy.png" alt=""> Team A</h4>
                                        <h4 class="lower_m2">VS <img src="images/BR-Flag-copy.png" alt=""> Team B</h4>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">190511 viewers <i class="fa fa-angle-down"></i></button>
                                            <ul class="dropdown-menu">
                                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                            </ul>
                                            <h4 class="tour_time">01:30</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tournament_stream">
                                <div class="tour_stream_box">
                                    <h4>The International 2016 <span class="grey">Qualifier - Semifinals</span></h4>
                                    <div class="lower_matches float_left">
                                        <h4 class="lower_m1"><img src="images/BR-Flag-copy.png" alt=""> Team A</h4>
                                        <h4 class="lower_m2">VS <img src="images/BR-Flag-copy.png" alt=""> Team B</h4>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">190511 viewers <i class="fa fa-angle-down"></i></button>
                                            <ul class="dropdown-menu">
                                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                            </ul>
                                            <h4 class="tour_time">01:30</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tour_filter_layout element-item dota bf3 tour csgo stream css">
                        <div class="tour_filter_box br-bottom">
                            <div class="col-sm-3 pad-zero">
                                <div class="tour_filter_box_image">
                                    <img src="images/Tournament-Image.jpg" alt="#">
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="tour_filter_box_content float_left">
                                    <div class="tour_filter_upper float_left">
                                        <h3 class="pull-left"><img src="images/CoD.png" alt="#">The International 2016 <span>20 JUN - 13 AUG</span></h3>
                                        <h3 class="green pull-right">$12,500,00+</h3>
                                    </div>
                                    <div class="tour_filter_lower float_left">
                                        <div class="col-sm-9 pad-zero">
                                            <p>Holding world’s largest eSport prize pool for 5 years in a row, breaking the record every year, The International is back! Aiming to beat last year’s prize pool of $18,429,613, Valve is presenting Dota 2...<a href="#">read more</a></p>
                                        </div>
                                        <div class="col-sm-3 pad-zero">
                                            <div class="tour_live_games text-right pull-right">
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-default dropdown-toggle live_game_btn">
                                                        <i class="fa fa-circle red"></i> LIVE GAMES <i class="fa fa-angle-down"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tour_stream_content">
                            <div class="tournament_stream">
                                <div class="tour_stream_box">
                                    <h4>The International 2016 <span class="grey">Qualifier - Semifinals</span></h4>
                                    <div class="lower_matches float_left">
                                        <h4 class="lower_m1"><img src="images/BR-Flag-copy.png" alt=""> Team A</h4>
                                        <h4 class="lower_m2">VS <img src="images/BR-Flag-copy.png" alt=""> Team B</h4>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">190511 viewers <i class="fa fa-angle-down"></i></button>
                                            <ul class="dropdown-menu">
                                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                            </ul>
                                            <h4 class="tour_time">01:30</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tournament_stream">
                                <div class="tour_stream_box">
                                    <h4>The International 2016 <span class="grey">Qualifier - Semifinals</span></h4>
                                    <div class="lower_matches float_left">
                                        <h4 class="lower_m1"><img src="images/BR-Flag-copy.png" alt=""> Team A</h4>
                                        <h4 class="lower_m2">VS <img src="images/BR-Flag-copy.png" alt=""> Team B</h4>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">190511 viewers <i class="fa fa-angle-down"></i></button>
                                            <ul class="dropdown-menu">
                                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                            </ul>
                                            <h4 class="tour_time">01:30</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tour_filter_layout element-item dota css tour stream">
                        <div class="tour_filter_box br-bottom">
                            <div class="col-sm-3 pad-zero">
                                <div class="tour_filter_box_image">
                                    <img src="images/Tournament-Image.jpg" alt="#">
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="tour_filter_box_content float_left">
                                    <div class="tour_filter_upper float_left">
                                        <h3 class="pull-left"><img src="images/HotS.png" alt="#">The International 2016 <span>20 JUN - 13 AUG</span></h3>
                                        <h3 class="green pull-right">$12,500,00+</h3>
                                    </div>
                                    <div class="tour_filter_lower float_left">
                                        <div class="col-sm-9 pad-zero">
                                            <p>Holding world’s largest eSport prize pool for 5 years in a row, breaking the record every year, The International is back! Aiming to beat last year’s prize pool of $18,429,613, Valve is presenting Dota 2...<a href="#">read more</a></p>
                                        </div>
                                        <div class="col-sm-3 pad-zero">
                                            <div class="tour_live_games text-right pull-right">
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-default dropdown-toggle live_game_btn">
                                                        <i class="fa fa-circle red"></i> LIVE GAMES <i class="fa fa-angle-down"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tour_stream_content">
                            <div class="tournament_stream">
                                <div class="tour_stream_box">
                                    <h4>The International 2016 <span class="grey">Qualifier - Semifinals</span></h4>
                                    <div class="lower_matches float_left">
                                        <h4 class="lower_m1"><img src="images/BR-Flag-copy.png" alt=""> Team A</h4>
                                        <h4 class="lower_m2">VS <img src="images/BR-Flag-copy.png" alt=""> Team B</h4>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">190511 viewers <i class="fa fa-angle-down"></i></button>
                                            <ul class="dropdown-menu">
                                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                            </ul>
                                            <h4 class="tour_time">01:30</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tournament_stream">
                                <div class="tour_stream_box">
                                    <h4>The International 2016 <span class="grey">Qualifier - Semifinals</span></h4>
                                    <div class="lower_matches float_left">
                                        <h4 class="lower_m1"><img src="images/BR-Flag-copy.png" alt=""> Team A</h4>
                                        <h4 class="lower_m2">VS <img src="images/BR-Flag-copy.png" alt=""> Team B</h4>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">190511 viewers <i class="fa fa-angle-down"></i></button>
                                            <ul class="dropdown-menu">
                                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                            </ul>
                                            <h4 class="tour_time">01:30</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tour_filter_layout element-item dota csgo tour css">
                        <div class="tour_filter_box br-bottom">
                            <div class="col-sm-3 pad-zero">
                                <div class="tour_filter_box_image">
                                    <img src="images/Tournament-Image.jpg" alt="#">
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="tour_filter_box_content float_left">
                                    <div class="tour_filter_upper float_left">
                                        <h3 class="pull-left"><img src="images/League.png" alt="#">The International 2016 <span>20 JUN - 13 AUG</span></h3>
                                        <h3 class="green pull-right">$12,500,00+</h3>
                                    </div>
                                    <div class="tour_filter_lower float_left">
                                        <div class="col-sm-9 pad-zero">
                                            <p>Holding world’s largest eSport prize pool for 5 years in a row, breaking the record every year, The International is back! Aiming to beat last year’s prize pool of $18,429,613, Valve is presenting Dota 2...<a href="#">read more</a></p>
                                        </div>
                                        <div class="col-sm-3 pad-zero">
                                            <div class="tour_live_games text-right pull-right">
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-default dropdown-toggle live_game_btn">
                                                        <i class="fa fa-circle red"></i> LIVE GAMES <i class="fa fa-angle-down"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tour_stream_content">
                            <div class="tournament_stream">
                                <div class="tour_stream_box">
                                    <h4>The International 2016 <span class="grey">Qualifier - Semifinals</span></h4>
                                    <div class="lower_matches float_left">
                                        <h4 class="lower_m1"><img src="images/BR-Flag-copy.png" alt=""> Team A</h4>
                                        <h4 class="lower_m2">VS <img src="images/BR-Flag-copy.png" alt=""> Team B</h4>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">190511 viewers <i class="fa fa-angle-down"></i></button>
                                            <ul class="dropdown-menu">
                                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                            </ul>
                                            <h4 class="tour_time">01:30</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tournament_stream">
                                <div class="tour_stream_box">
                                    <h4>The International 2016 <span class="grey">Qualifier - Semifinals</span></h4>
                                    <div class="lower_matches float_left">
                                        <h4 class="lower_m1"><img src="images/BR-Flag-copy.png" alt=""> Team A</h4>
                                        <h4 class="lower_m2">VS <img src="images/BR-Flag-copy.png" alt=""> Team B</h4>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">190511 viewers <i class="fa fa-angle-down"></i></button>
                                            <ul class="dropdown-menu">
                                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                            </ul>
                                            <h4 class="tour_time">01:30</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tour_filter_layout element-item dota csgo tour stream">
                        <div class="tour_filter_box br-bottom">
                            <div class="col-sm-3 pad-zero">
                                <div class="tour_filter_box_image">
                                    <img src="images/Tournament-Image.jpg" alt="#">
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="tour_filter_box_content float_left">
                                    <div class="tour_filter_upper float_left">
                                        <h3 class="pull-left"><img src="images/newDota2.png" alt="#">The International 2016 <span>20 JUN - 13 AUG</span></h3>
                                        <h3 class="green pull-right">$12,500,00+</h3>
                                    </div>
                                    <div class="tour_filter_lower float_left">
                                        <div class="col-sm-9 pad-zero">
                                            <p>Holding world’s largest eSport prize pool for 5 years in a row, breaking the record every year, The International is back! Aiming to beat last year’s prize pool of $18,429,613, Valve is presenting Dota 2...<a href="#">read more</a></p>
                                        </div>
                                        <div class="col-sm-3 pad-zero">
                                            <div class="tour_live_games text-right pull-right">
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-default dropdown-toggle live_game_btn">
                                                        <i class="fa fa-circle red"></i> LIVE GAMES <i class="fa fa-angle-down"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tour_stream_content">
                            <div class="tournament_stream">
                                <div class="tour_stream_box">
                                    <h4>The International 2016 <span class="grey">Qualifier - Semifinals</span></h4>
                                    <div class="lower_matches float_left">
                                        <h4 class="lower_m1"><img src="images/BR-Flag-copy.png" alt=""> Team A</h4>
                                        <h4 class="lower_m2">VS <img src="images/BR-Flag-copy.png" alt=""> Team B</h4>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">190511 viewers <i class="fa fa-angle-down"></i></button>
                                            <ul class="dropdown-menu">
                                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                            </ul>
                                            <h4 class="tour_time">01:30</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tournament_stream">
                                <div class="tour_stream_box">
                                    <h4>The International 2016 <span class="grey">Qualifier - Semifinals</span></h4>
                                    <div class="lower_matches float_left">
                                        <h4 class="lower_m1"><img src="images/BR-Flag-copy.png" alt=""> Team A</h4>
                                        <h4 class="lower_m2">VS <img src="images/BR-Flag-copy.png" alt=""> Team B</h4>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">190511 viewers <i class="fa fa-angle-down"></i></button>
                                            <ul class="dropdown-menu">
                                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                            </ul>
                                            <h4 class="tour_time">01:30</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tour_filter_layout element-item dota bf3 tour">
                        <div class="tour_filter_box br-bottom">
                            <div class="col-sm-3 pad-zero">
                                <div class="tour_filter_box_image">
                                    <img src="images/Tournament-Image.jpg" alt="#">
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="tour_filter_box_content float_left">
                                    <div class="tour_filter_upper float_left">
                                        <h3 class="pull-left"><img src="images/Overwatch.png" alt="#">The International 2016 <span>20 JUN - 13 AUG</span></h3>
                                        <h3 class="green pull-right">$12,500,00+</h3>
                                    </div>
                                    <div class="tour_filter_lower float_left">
                                        <div class="col-sm-9 pad-zero">
                                            <p>Holding world’s largest eSport prize pool for 5 years in a row, breaking the record every year, The International is back! Aiming to beat last year’s prize pool of $18,429,613, Valve is presenting Dota 2...<a href="#">read more</a></p>
                                        </div>
                                        <div class="col-sm-3 pad-zero">
                                            <div class="tour_live_games text-right pull-right">
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-default dropdown-toggle live_game_btn">
                                                        <i class="fa fa-circle red"></i> LIVE GAMES <i class="fa fa-angle-down"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tour_stream_content">
                            <div class="tournament_stream">
                                <div class="tour_stream_box">
                                    <h4>The International 2016 <span class="grey">Qualifier - Semifinals</span></h4>
                                    <div class="lower_matches float_left">
                                        <h4 class="lower_m1"><img src="images/BR-Flag-copy.png" alt=""> Team A</h4>
                                        <h4 class="lower_m2">VS <img src="images/BR-Flag-copy.png" alt=""> Team B</h4>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">190511 viewers <i class="fa fa-angle-down"></i></button>
                                            <ul class="dropdown-menu">
                                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                            </ul>
                                            <h4 class="tour_time">01:30</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tournament_stream">
                                <div class="tour_stream_box">
                                    <h4>The International 2016 <span class="grey">Qualifier - Semifinals</span></h4>
                                    <div class="lower_matches float_left">
                                        <h4 class="lower_m1"><img src="images/BR-Flag-copy.png" alt=""> Team A</h4>
                                        <h4 class="lower_m2">VS <img src="images/BR-Flag-copy.png" alt=""> Team B</h4>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">190511 viewers <i class="fa fa-angle-down"></i></button>
                                            <ul class="dropdown-menu">
                                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                                <li><img src="images/BR-Flag-copy.png">ChannelName <i class="fa fa-circle"></i> LIVE &gt; 175951 viewers</li>
                                            </ul>
                                            <h4 class="tour_time">01:30</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-12 mar-top-50">
                        <button class="btn submit_e_btn pull-right">submit a tournament</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer_area">
    <div class="container">
        <div class="col-sm-1 pad-zero">
            <img src="images/footer_logo.png" alt="#">
        </div>
        <div class="col-sm-3">
            <h4>Daily eSports,<br>All Rights Reserved.</h4>
        </div>
        <div class="col-sm-2 text-center">
            <h4>For business inquiries,<br> please contact us.</h4>
        </div>
        <div class="col-sm-6 pad-zero">
            <div class="footer_socials">
                <a href="#" class="hvr-float"><img src="images/facebook_ico.png" alt=""></a>
                <a href="#" class="hvr-float"><img src="images/twitter_ico.png" alt=""></a>
                <a href="#" class="hvr-float"><img src="images/youtube_ico.png" alt=""></a>
                <a href="#" class="hvr-float"><img src="images/Instagram_ico.png" alt=""></a>
                <a href="#" class="hvr-float"><img src="images/Twitch_ico.png" alt=""></a>
                <a href="#" class="hvr-float"><img src="images/steam_ico.png" alt=""></a>
                <a href="#" class="hvr-float"><img src="images/Reddit_ico.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/custom.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var owl = $("#owl-demo");
        owl.owlCarousel({
            autoPlay: 4000, //Set AutoPlay to 3 seconds
            items : 4,
            itemsDesktop : [1199,3],
            itemsDesktopSmall : [979,3],
            pagination : false,
            //Basic Speeds
            slideSpeed : 2000
        });
        $(".re-next").click(function(){
            owl.trigger('owl.next');
        });
        $(".re-prev").click(function(){
            owl.trigger('owl.prev');
        });
    });
    jQuery(window).load(function() {
        // init Isotope
        var $container = jQuery('.isotope').isotope({
            itemSelector: '.element-item',
            layoutMode: 'masonry',
            resizable: false, // disable normal resizing
            getSortData: {
                name: '.name'
            },
            transformsEnabled: false
        });
        // bind filter button click
        jQuery('.filters li').on( 'click', function() {
            var filterValue = jQuery( this ).attr('data-filter');
            $container.isotope({ filter: filterValue });
        });
        jQuery('.filters li:first').addClass('current');
        jQuery('.filters li').on('click', function (e) {
            e.preventDefault();
            jQuery(this).addClass('current').siblings().removeClass('current');
        });
        // bind filter button click
        jQuery('.filters_one li').on( 'click', function() {
            var filterValue = jQuery( this ).attr('data-filter');
            $container.isotope({ filter: filterValue });
        });
        jQuery('.filters_one li:first').addClass('current');
        jQuery('.filters_one li').on('click', function (e) {
            e.preventDefault();
            jQuery(this).addClass('current').siblings().removeClass('current');
        });
    });
    jQuery(document).on('click', '.live_game_btn', function(e){
        e.preventDefault();
        jQuery(this).parents('.tour_filter_box').next().toggleClass('show_tour');
    });
    /*
    jQuery(document).on('click', '.live_game_btn', function(e){
        e.preventDefault();
        var ye = jQuery(this);
        jQuery(ye).each(function(){
            if (ye.parents('.tour_filter_box').next().hasClass('current')){
                ye.parents('.tour_filter_box').next().slideUp();
                ye.parents('.tour_filter_box').next().removeClass('current');
            } else {
                ye.parents('.tour_filter_box').next().slideDown();
                ye.parents('.tour_filter_box').next().addClass('current');
            }
        });
        //jQuery(this).parents('.tour_filter_box').next().toggleClass('showDiv');
    });
    */
</script>
</body>
</html>