@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-12 h_content">
        <h2>CONTACT</h2>

        <h4>General</h4>
        <p>If you have general inquiries about Daily eSports, please send an e-mail to contact[at]dailyesports.tv</p>

        <h4>News</h4>
        <p>If you have a News tip or would like to be a Guest author, please send an e-mail to news[at]dailyesports.tv</p>

        <h4>Tournaments</h4>
        <p>If you want to add a tournament to the website or if you are a tournament organizer, please send an e-mail to tournaments[at]dailyesports.tv</p>

        <h4>Videos</h4>
        <p>If you’re a content creator or want to show off a video, please send an e-mail to videos[at]dailyesports.tv</p>

        <h4>Events</h4>
        <p>If you’re an event organizer or want to add an event to the website, please send an e-mail to events[at]dailyesports.tv</p>

    </div>

</div> 