
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $("#confirmPassword").keyup(function (e) {
            e.preventDefault();
            var matched,
                password = $("#password").val(),
                confirm = $("#confirmPassword").val();

            matched = (password == confirm) ? true : false;
            if (matched) {
                //Submit line commented out for example.  In production, remove the //
                //$("#passwordForm").submit(); 

                //Shows success message and prevents submission.  In production, comment out the next 2 lines.
                $("#responseDiv").html("Passwords Match");
                return false;
            }
            else {
                $("#responseDiv").html("Passwords don't match...");
                return false;
            }
        });
    });
</script>
<div class="basic_bg_image">
    <div class="container bg-inherit">
        <div class="home_content">
            <div class="signin_content">
                <div class="basic_content">
                    <div class="col-sm-12 pad-zero">
                        @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
                        {
                            <div class="col-sm-12">
                                <h3 class="text-center">Change Password</h3>
                                <div id="responseDiv" class="text-success"></div>

                                <div class="form_fields br-top">
                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    @Html.TextBox("Email", "", new { @placeholder = "Username or email", @class = "UserName form-control" })
                                    @Html.TextBox("SecurityCode", "", new { @placeholder = "Security Code", @class = "form-control Password", @type = "password" })
 
                                   <div class="col-md-5 pad-zero MargT20">
                                        <button class="btn btn-block btn-success " type="submit" >Ok</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

