@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-12 h_content">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfuFyB9h-SHnujhxCB0HNaDSz_s8lJJx1kJ8iRLC_YB5b2cSg/viewform?embedded=true" width="100%" height="500" frameborder="0" marginwidth="0" marginheight="0">Loading...</iframe>

    </div>

</div>