@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-12 h_content">
        <div class="col-md-10 col-md-offset-1">
            <img src="@Globals.CDNContent("dailyesports.jpg")" />
        </div>
        <div class="col-md-12">
            <h1 style="margin-top: 0px;">ABOUT</h1>
            <blockquote>
                <h2>
                    Daily eSports is an all-in-one entertainment hub dedicated to deliver eSports news, events, videos and tournaments around the world, powered by and made by fans.
                </h2>
            </blockquote>
            <p>Our mission at Daily eSports is to equip people with easily accessible information about the eSports industry. We deliver reliable and safe information to save them time and money while inspiring them to create content that is easily shared through the Daily eSports platform.</p>

            <p>Established in April 2016, Daily eSports is an all-in-one entertainment hub that focuses and provides the global community top notch esports content which includes reliable information on tournaments, events, eSports news and videos around the world, powered and made by fans.</p>

            <p>At Daily eSports, our activities are focused on like-minded game loving individuals with the same passion and goal in-line with our interest, from gaming, top esports news to tournaments, events as well as entertaining videos. Daily eSports is a place for competitive, social online events, reviews and feature articles on the eSports industry.</p>

            <p>We provide exciting gaming experience and top-quality, reliable eSports updates that entertain, benefit, inform and unite the gaming communities. We cater for wide varieties of gamers, whether you are a novice, casual or hard-core player.</p>

            <p>Our mission is centered on equipping consumers around the world with easily accessible information about the eSports industry. We make available for them reliable and safe eSports information to help them save time and money and in the process inspire them to create great eSports content that can easily be shared through the Daily eSports platform.</p>

            <p>This is why we work steadfastly to make sure every consumer is entertained and updated with top-quality eSports content at all times.</p>

            <p>© 2016 Daily eSports. All rights reserved. Daily eSports, Daily eSports TV, Daily eSports GG, Daily eSports GO logos, and all associated logos and designs are trademarks or registered trademarks of Daily eSports. All other product names, logos, and brands are property of their respective owners. All other company, product and service names used in this website are for identification purposes only. Use of these names, logos, and brands does not imply endorsement.</p>
        </div>
    </div>
</div>
